doctype html
html
  head
    meta(charset='utf-8')
    link(rel='stylesheet' href='https://cdn.bootcss.com/twitter-bootstrap/4.2.1/css/bootstrap.min.css')
    link(rel='stylesheet' href='../style/newton-pendulum.css')
    title 牛顿摆
  body
    div.animate-content
      nav.navbar.navbar-light
        | 牛顿摆
        a.navbar-brand(href='../index.html') 返回
      div.animate-box
        div.newton-pendulum
          div.newton-pendulum-item.newton-pendulum-item-0
          div.newton-pendulum-item.newton-pendulum-item-1
          div.newton-pendulum-item.newton-pendulum-item-2
          div.newton-pendulum-item.newton-pendulum-item-3
          div.newton-pendulum-item.newton-pendulum-item-4