doctype html
html
  head
    meta(charset='utf-8')
    link(rel='stylesheet' href='https://cdn.bootcss.com/twitter-bootstrap/4.2.1/css/bootstrap.min.css')
    style.
      .index-list { margin: 20px auto; width: 300px }
    title CSS特效
  body
    div.list-group.index-list
      a.list-group-item.list-group-item-action(href='./template/search-box-expansion.html' title='搜索框伸缩') 搜索框伸缩
      a.list-group-item.list-group-item-action(href='./template/form-placeholder.html' title='表单占位符') 表单占位符
      a.list-group-item.list-group-item-action(href='./template/loading-animation.html' title='加载动画') 加载动画
      //- todo: 牛顿摆球